<div class="menu-panel">
    <button mat-button [matMenuTriggerFor]="aboveMenu">Hotels</button>
    <mat-menu #aboveMenu="matMenu" yPosition="above">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    
    <button mat-button [matMenuTriggerFor]="belowMenu">About this project</button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    
    <button mat-button [matMenuTriggerFor]="beforeMenu">Users</button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    
    
    <button mat-button [matMenuTriggerFor]="afterMenu">Contacts us</button>
    <mat-menu #afterMenu="matMenu" xPosition="after">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>

    <button *ngIf="!isLoggedIn" mat-button class="pull-right" (click)="logIn()">Log in</button>
    <button *ngIf="isLoggedIn" mat-button class="pull-right" (click)="logOut()">Log out</button>
</div>

<h1 class="header">Hot Weather Widget</h1>
